[submodule "themes/alphacast"]
	path = themes/alphacast
	url = https://github.com/therandomsecurityguy/alphacast
[submodule "alphacast"]
	path = alphacast
	url = git@github.com:therandomsecurityguy/alphacast.git
[submodule "themes/alphacast"]
	path = themes/alphacast
	url = git@github.com:therandomsecurityguy/alphacast.git
